let mapleader=' '

set clipboard+=unnamedplus
set relativenumber
set incsearch
set nu
set scrolloff=5

set visualbell

set ignorecase

" ideavim please don't use these
sethandler <C-Q> a:ide
sethandler <C-V> a:ide
sethandler <C-2> a:ide

nnoremap <C-d> <C-d>zz
nnoremap <C-u> <C-u>zz
nnoremap <C-j> 5j
nnoremap <C-k> 5k
vnoremap <C-j> 5j
vnoremap <C-k> 5k
vnoremap <C-d> <C-d>zz
vnoremap <C-u> <C-u>zz

nnoremap q %
nnoremap H ^
nnoremap L $
nnoremap Q q
vnoremap q %
vnoremap H ^
vnoremap L $
vnoremap Q q

nnoremap ( #
nnoremap ) *
vnoremap ( #
vnoremap ) *

nnoremap J mzJ`z

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

map <C-w> :q<CR>

""" Autoclose remaps
inoremap "<tab> ""<Left>
inoremap '<tab> ''<Left>
inoremap (<tab> ()<Left>
inoremap <<tab> <><Left>
inoremap ><tab> </><Left>
inoremap [<tab> []<Left>
inoremap {<tab> {}<Left>
inoremap {<CR> {<CR>}<ESC>O
inoremap {;<CR> {<CR>};<ESC>O

""" Rider Mappings
nmap <C-=> <Action>(ZoomInIdeAction)
nmap <C--> <Action>(ZoomOutIdeAction)

nmap <C-l> <Action>(NextTab)
nmap <C-h> <Action>(PreviousTab)

nmap <C-S-l> <Action>(com.mnw.tabmover.actions.MoveTabDownAction)
nmap <C-S-h> <Action>(com.mnw.tabmover.actions.MoveTabUpAction)

nmap \ :NERDTree<CR>
nmap <leader>\ :NERDTreeToggle<CR>

nmap ]d <Action>(GotoNextError)
nmap [d <Action>(GotoPreviousError)

imap <C-space> <Action>(CodeCompletion)

nmap gac <Action>(ShowIntentionActions)
nmap <leader>fo <Action>(ReformatCode)
nmap K <Action>(ShowHoverInfo)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>sa <Action>(GotoAction)
nmap <leader>sg <Action>(TextSearchAction)
nmap <leader>ss <Action>(SearchEverywhere)
nmap <leader>se <Action>(ShowSettings)

" using system keymaps
"nmap <C-p> <Action>(ActivateProblemsViewToolWindow)
"nmap <C-t> <Action>(ActivateTerminalToolWindow)

nmap <leader>iv :source ~/.ideavimrc<CR>

""" Plugins
let g:highlightedyank_highlight_duration="150"
Plug 'machakann/vim-highlightedyank'

Plug 'vim-scripts/argtextobj.vim'
Plug 'tpope/vim-commentary'
Plug 'justinmk/vim-sneak'
Plug 'preservim/nerdtree'

" No copy on delete (except d)
nnoremap <leader>d "_d
vnoremap <leader>d "_d
vnoremap <leader>p p
vnoremap <leader>P P
vnoremap p "_dp
vnoremap P "_dP
nnoremap <leader>c c
vnoremap <leader>c c
nnoremap <leader>C C
vnoremap <leader>C C
nnoremap c "_c
vnoremap c "_c
nnoremap C "_C
vnoremap C "_C
nnoremap <leader>x x
vnoremap <leader>x x
nnoremap <leader>X X
vnoremap <leader>X X
nnoremap x "_x
vnoremap x "_x
nnoremap X "_X
vnoremap X "_X
